<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.MachineMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.turing.entity.Machine">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="intro" property="intro" />
        <result column="stock" property="stock" />
        <result column="lat" property="lat" />
        <result column="lng" property="lng" />
        <result column="deliver_address" property="deliverAddress" />
        <result column="sales" property="sales" />
        <result column="publish_time" property="publishTime" />
        <result column="freight" property="freight" />
    </resultMap>

    <select id="latest" resultType="com.turing.entity.Machine">
        select * from sys_machine order by not publish_time limit 20
    </select>

    <select id="classify" resultType="com.turing.entity.Machine" parameterType="long">
        select * from sys_machine where type  = #{typeId}
    </select>

    <select id="byCrop" resultType="com.turing.entity.Machine">
        select distinct m.*
        from sys_machine m ,sys_crop c,sys_crop_machine cm
        where  m.id = cm.machine  and c.id = cm.cropid
        <if test="list !=null and list.size()>0">
            and c.id in
            <foreach collection="list" open="(" close=")" separator="," index="index" item="item">
                #{item}
            </foreach>
        </if>

    </select>

</mapper>
