<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="esProductMap" type="com.turing.common.ES.Product">
        <id column="id" property="id" />
        <result column="business_id" property="businessId" />
        <result column="type" property="type" />
        <result column="name" property="name" />
        <result column="price" property="price" />
        <result column="intro" property="intro" />
        <result column="stock" property="stock" />
        <result column="lat" property="lat" />
        <result column="lng" property="lng" />
        <result column="deliver_address" property="deliverAddress" />
        <result column="sales" property="sales" />
        <result column="publish_time" property="publishTime" />
        <result column="freight" property="freight" />
    </resultMap>

    <select id="getAllProductList" resultMap="esProductMap" parameterType="long">
        select * from sys_machine
        <if test="id!=null">
            where p.id=#{id}
        </if>
    </select>

</mapper>
